.notfound {
  height: 100vh;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
}
